<template>
	<div>
		<hero></hero>
		<skills></skills>
		<my-service></my-service>
		<work-education></work-education>
		<portfolio></portfolio>
		<contact></contact>
	</div>
</template>
<script>

import Hero from './components/Hero.vue'
import Skills from './components/Skills.vue'
import MyService from './components/MyService.vue'
import WorkEducation from './components/WorkEducation.vue'
import Portfolio from './components/Portfolio.vue'
import Contact from './components/Contact.vue'

export default {
	name: "r-index",
	data() {
		return {
		};
	},
	components: {
		Hero,
		Skills,
		MyService,
		WorkEducation,
		Portfolio,
		Contact,
	},
	computed: {
	},
	created() {
	},
	methods: {
	}
};
</script>
