<template>
	<div>
		<section class="page-header relative">
			<div class="flex justify-center items-center w-full h-80 bg-gray-800">
				<h1 class="h1-seo text-white">Portifolio</h1>
			</div>
			<div class="-mb-20 top-auto bottom-px left-0 right-0 w-full absolute h-20" style="transform: rotate(180deg);">
				<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
					version="1.1" viewBox="0 0 2560 100" x="0" y="0" >
					<polygon class="text-gray-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
				</svg>
			</div>
		</section>
		<section class="portfolio flex justify-center mt-24">
			<div class="content">
				<h3 class="text-purple-700">Meet my work</h3>
				<router-link to="/works/kartdobarbeiro">
					<div class="mb-10 md:mb-16 portfolio-item border-none w-full h-auto rounded-lg" style="background-image: url('https://ras-upload.s3.amazonaws.com/portfolio/images/kartdobarbeiro.png')">
						<div class="item-info rounded-lg">
							<h4 class="h1">Kart do Barbeiro</h4>
							<div class="badge mb-12">
								<span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Vue2</span>
								<span class="bg-slate-100 text-slate-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Vuex</span>
								<span class="bg-sky-100 text-sky-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Creative Tim Template</span>
								<span class="bg-fuchsia-100 text-fuchsia-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Axios</span>
								<span class="bg-orange-100 text-orange-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Node API</span>
								<span class="bg-rose-100 text-rose-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">MongoDB</span>
							</div>
							<p>Projeto feito para um campeonato de kart de Florianópolis.</p>
							<p>Desenvolvido Vue 2 no front-end e em Node.js para o back-end.</p>
							<p>
								Com o front-end foi usado um template da Creative Tim
								adaptado para as necessidades do campeonato.
								Nele é possível acompanhar o andamento do campeonato,
								próximas etapas, estatisticas de pilotos, confirmação de
								etapas entre outros.
							</p>
							<p>
								O back-end realiza autenticação de usuários, confimação em etapas,
								sorteio de karts baseado nas confirmações, novas incrições, classifição
								das etapas com upload de .xlsx e outras necessidades do campeonato.
							</p>
						</div>
					</div>
				</router-link>
				<div class="portfolio-items w-full h-auto">
						<div class="mb-10 md:mb-16 portfolio-item border-none rounded-lg" style="background-image: url('https://ras-upload.s3.amazonaws.com/portfolio/images/cinemate.png')">
							<router-link to="/works/cinemate">
								<div class="item-info rounded-lg">
									<h4 class="h3">Cinemate</h4>
									<div class="badge mb-12">
										<span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Vue3</span>
										<span class="bg-slate-100 text-slate-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Vuex</span>
										<span class="bg-sky-100 text-sky-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Tailwind</span>
										<span class="bg-purple-100 text-purple-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Axios</span>
									</div>
									<p>Projeto técnico.</p>
									<p>Desenvolvido Vue 3 com Tailwind.</p>
								</div>
							</router-link>
						</div>
						<div class="mb-10 md:mb-16 portfolio-item border-none rounded-lg" style="background-image: url('https://ras-upload.s3.amazonaws.com/portfolio/images/climatech.png')">
							<router-link to="/works/climatech">
								<div class="item-info rounded-lg">
									<h4 class="h3">Climatech</h4>
									<div class="badge mb-12">
										<span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Vue3</span>
										<span class="bg-slate-100 text-slate-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Vuex</span>
										<span class="bg-sky-100 text-sky-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Tailwind</span>
										<span class="bg-purple-100 text-purple-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Axios</span>
									</div>
									<p>Projeto técnico.</p>
									<p>Desenvolvido Vue 3 com Tailwind.</p>
								</div>
							</router-link>
						</div>
				</div>
				<router-link to="/works/wishlist">
					<div class="mb-10 md:mb-16 portfolio-item border-none w-full h-auto rounded-lg" style="background-image: url('https://ras-upload.s3.amazonaws.com/portfolio/images/wishlist.png')">
						<div class="item-info rounded-lg">
							<h4 class="h1">Dzsinn - Wish list</h4>
							<div class="badge mb-12">
								<span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Vue2</span>
								<span class="bg-slate-100 text-slate-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Vuex</span>
								<span class="bg-sky-100 text-sky-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Creative Tim Template</span>
								<span class="bg-fuchsia-100 text-fuchsia-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Axios</span>
								<span class="bg-orange-100 text-orange-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Node API</span>
								<span class="bg-rose-100 text-rose-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">MongoDB</span>
							</div>
							<p>Projeto realizado para estudo.</p>
							<p>Desenvolvido Vue 2 no front-end e em Node.js para o back-end.</p>
							<p>
								Com o front-end foi usado um template da Creative Tim
								adaptado para as necessidades da aplicação.
								Contém login, cadastro, visualização de lista por ususário,
								cadastro de itens na lista.
							</p>
							<p>
								O back-end realiza autenticação de usuários, administração
								dos itens já comprados e cadastro e atualização de novos itens.
							</p>
						</div>
					</div>
				</router-link>
			</div>
		</section>
	</div>
</template>
<script>


export default {
	name: "r-works",
	data() {
		return {
		};
	},
	components: {
	},
	computed: {
	},
	created() {
	},
	methods: {
	}
};
</script>
