<template>
	<div>
		<section class="page-header relative">
			<div class="flex flex-col justify-center items-center w-full h-96 bg-gray-800">
				<div class="text-white px-4">
					<router-link class="text-white" to="/works"><i class="fas fa-arrow-left-long"></i> back to portfolio</router-link>
					<h1 class="h1-seo mt-4 mb-1">{{data[pageParam].title}}</h1>
					<p>{{data[pageParam].shortDescription}}</p>
				</div>
			</div>
			<div class="-mb-20 top-auto bottom-px left-0 right-0 w-full absolute h-20" style="transform: rotate(180deg);">
				<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
					version="1.1" viewBox="0 0 2560 100" x="0" y="0" >
					<polygon class="text-gray-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
				</svg>
			</div>
		</section>
		<section class="work flex flex-col justify-center items-center px-5 my-24 mx-auto">
			<p class="text-justify">{{data[pageParam].description}}</p>
			<div class="flex justify-center mt-4">
				<div class="w-full md:w-1/2">
					<h6 class="pt-4 pb-2 text-purple-600">Category</h6>
					<div class="badge">
						<span class="bg-gray-100 text-gray-800 text-xs font-semibold mr-2 mb-2 px-2.5 py-0.5 rounded" v-for="category in data[pageParam].categories" :key="category">{{category}}</span>
					</div>
				</div>
				<div class="w-full md:w-1/2">
					<h6 class="pt-4 pb-2 text-purple-600">Client</h6>
					<p>{{data[pageParam].client}}</p>
					<h6 class="pt-4 pb-2 text-purple-600">Date</h6>
					<p>{{data[pageParam].date}}</p>
				</div>
			</div>
			<div class="previw mt-10">
				<a :href="data[pageParam].previewUrl" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 cursor-pointer" target="_blank" rel="noopener noreferrer">Preview</a>
			</div>
			<div class="work-image mt-10 w-full md:w-2/3">
				<img class="rounded-lg border drop-shadow-md hover:drop-shadow-xl" :src="'https://ras-upload.s3.amazonaws.com/portfolio/images/' + pageParam + '.png'" alt="Print of the project">
			</div>
			<div class="work-problem mt-10 px-5 w-full">
				<h3 class="pt-4 pb-2 text-purple-600">Problem</h3>
				<p class="text-justify">{{data[pageParam].problem}}</p>
			</div>
			<div class="work-images mt-10 w-full flex flex-wrap">
				<div class="w-full flex items-center md:w-1/2 mb-6 md:pr-6 ">
					<img class="w-full rounded-lg drop-shadow-md hover:drop-shadow-xl hover:scale-125 transition-transform hover:z-10" :src="'https://ras-upload.s3.amazonaws.com/portfolio/images/' + pageParam + '.png'" alt="Print of the project">
				</div>
				<div class="w-full md:w-1/2 images-group flex flex-wrap justify-center items-center">
					<div class="w-full md:w-1/2 mb-6 md:pr-3">
						<img class="w-full rounded-lg drop-shadow-md hover:drop-shadow-xl hover:scale-125 transition-transform hover:z-10" :src="'https://ras-upload.s3.amazonaws.com/portfolio/images/' + pageParam + '1.png'" alt="Print of the project">
					</div>
					<div class="w-full md:w-1/2 mb-6 md:pl-3">
						<img class="w-full rounded-lg drop-shadow-md hover:drop-shadow-xl hover:scale-125 transition-transform hover:z-10" :src="'https://ras-upload.s3.amazonaws.com/portfolio/images/' + pageParam + '2.png'" alt="Print of the project">
					</div>
					<div class="w-full md:w-1/2 mb-6 md:pr-3">
						<img class="w-full rounded-lg drop-shadow-md hover:drop-shadow-xl hover:scale-125 transition-transform hover:z-10" :src="'https://ras-upload.s3.amazonaws.com/portfolio/images/' + pageParam + '3.png'" alt="Print of the project">
					</div>
					<div class="w-full md:w-1/2 mb-6 md:pl-3">
						<img class="w-full rounded-lg drop-shadow-md hover:drop-shadow-xl hover:scale-125 transition-transform hover:z-10" :src="'https://ras-upload.s3.amazonaws.com/portfolio/images/' + pageParam + '4.png'" alt="Print of the project">
					</div>
				</div>
			</div>
			<div class="work-solution mt-10 px-5 w-full">
				<h3 class="pt-4 pb-2 text-purple-600">Solution</h3>
				<p class="text-justify">{{data[pageParam].solution}}</p>
			</div>
			<div class="work-related mt-10 w-full">
				<h6 class="pt-4 pb-2 text-purple-600">Related Projects</h6>
				<div class="w-full flex flex-wrap justify-between">
					<router-link :to="'/works/' + data[pageParam].previous" class="w-full md:w-1/2 pr-4 hover:scale-125 transition-transform hover:z-10">
						<img class="w-full rounded-lg drop-shadow-md hover:drop-shadow-xl" :src="'https://ras-upload.s3.amazonaws.com/portfolio/images/' + data[pageParam].previous + '.png'" alt="Print of the project">
					</router-link>
					<router-link :to="'/works/' + data[pageParam].next" class="w-full md:w-1/2 pl-4 hover:scale-125 transition-transform hover:z-10">
						<img class="w-full rounded-lg drop-shadow-md hover:drop-shadow-xl " :src="'https://ras-upload.s3.amazonaws.com/portfolio/images/' + data[pageParam].next + '.png'" alt="Print of the project">
					</router-link>
				</div>
			</div>
		</section>
	</div>
</template>
<script>


export default {
	name: "r-work-page",
	data() {
		return {
			data: {
				kartdobarbeiro: {
					title: "Kart do Barbeiro",
					shortDescription: "Site para campeonato de kart amador em Florianópolis.",
					description: "Este site foi desenvolvido pensando em centralizar todos os assuntos do Campeonato do Kart do Barbeiro em um único lugar. Facilitando diversos aspectos para a organização do campeonato.",
					previewUrl: "http://kartdobarbeiro.com.br/",
					categories: ["Vue2", "Vuex", "Creative Tim Template", "Axios", "Node API", "MongoDB"],
					client: "CKDB",
					date: "01/2022",
					problem: "O campeonato contém diversas demandas que precisavam ser centralizadas em um único lugar, onde os pilotos pudessem acompanhar sua colocação no campeonato, e de sua equipe, ver o calendário de corridas, se inscrever para etapas entre outras coisas.",
					solution: "Como solução desenvolvi um site em Vue.js que faz requisições a API em Node.js também desenvolvida por mim. Através disso é possível acompanhar classificação por etapas e por campeonato e categorias, ver calendário, ver e fazer depoimentos, realizar sorteio de karts baseado em pilotos confirmados, subir planilhas em .xlsx com a classificação nas baterias para que seja feita a classificação geral da etapa, histórico de estatísticas dos pilotos, e muito mais.",
					next: "climatech",
					previous: "wishlist"
				},
				climatech: {
					title: "Climatech Vue Project",
					shortDescription: "Site institucional para Climatech Climatização",
					description: "Site institucional desenvolvido com o intuito de informar os clientes sobre serviços realizados pela empresa, tirar dúvidas e contatos pra serviços.",
					previewUrl: "http://climatech.herokuapp.com/",
					categories: ["Vue2", "Creative Tim Template",],
					client: "Climatech",
					date: "coming soon",
					problem: "Não estar disponível virtualmente, perdendo oportunidades de clientes que realizam buscas na internet",
					solution: "Criar um site moderno que valorize os pilares da empresa, expandindo o catálogo de clientes e trazendo informações aos visitantes, com isso criando confiança na empresa.",
					next: "cinemate",
					previous: "kartdobarbeiro"
				},
				cinemate: {
					title: "Cinemate Online Store",
					shortDescription: "Projeto criado para avaliação técnica.",
					description: "Loja online para compra de filmes, consultando a API do TMBd.",
					previewUrl: "https://cinemate-vue.herokuapp.com/",
					categories: ["Vue3", "Vuex", "Tailwind", "Axios"],
					client: "Technical Test",
					date: "04/2022",
					problem: "Criar um site de vendas de filmes que consulte a API do TMDb, tenha um carrinho lateral funcional, lista de favoritos e checkout completo.",
					solution: "Aplicação desenvolvida em Vue 3 com Tailwind, onde é possível adicionar filmes ao carrinho, ou aos favoritos, verificar valor da compra e finalizar após o preenchimento do cadastro.",
					next: "wishlist",
					previous: "climatech"
				},
				wishlist: {
					title: "Dzsinn | Wish List",
					shortDescription: "Aplicação feita para compartilhar lista de presentes.",
					description: "Site para criar e compartilhar listas de presentes com amigos e familiares.",
					previewUrl: "https://dszinn.herokuapp.com/",
					categories: ["Vue2", "Vuex", "Creative Tim Template", "Axios", "Node API", "MongoDB"],
					client: "personal",
					date: "02/2022",
					problem: "Em datas comemorativas sempre temos problemas em encontrar um presente que agrade aos amigos e entes queridos, e que também seja útil, que não seja dado apenas para encher o armário com mais alguma coisa desnecessária.",
					solution: "Pensando nisso esta wishlist foi criada, onde é possível cadastrar produtos que você deseja e compartilhar com seus amigos e familiares, através desta lista as pessoas podem consultar o que você deseje acessar links com o produto, fazer a compra e então sinalizar que a realizou para que ninguém compre algo repetido.",
					next: "kartdobarbeiro",
					previous: "cinemate"
				},
			}
		};
	},
	components: {
	},
	computed: {
		pageParam() {
			return this.$route.params.id
		}
	},
	created() {
	},
	methods: {
	}
};
</script>
