.btn-linkedin {
	&,
	&:hover,
	&focus,
	&:active,
	&:active:focus {
	  color: $social-linkedin !important;
	}
}

.btn-instagram {
	&,
	&:hover,
	&focus,
	&:active,
	&:active:focus {
	  color: $social-instagram !important;
	}
}

.btn-whatsapp {
	&,
	&:hover,
	&focus,
	&:active,
	&:active:focus {
	  background-color: $social-whatsapp !important;
	}
}

.btn-github {
	&,
	&:hover,
	&focus,
	&:active,
	&:active:focus {
	  color: $social-github !important;
	}
}

.btn-gitlab {
	&,
	&:hover,
	&focus,
	&:active,
	&:active:focus {
	  color: $social-gitlab !important;
	}
}

.hover\:btn-linkedin {
	&:hover {
	  color: $social-linkedin !important;
	}
}

.hover\:btn-instagram {
	&:hover {
	  color: $social-instagram !important;
	}
}

.hover\:btn-github {
	&:hover {
	  color: $social-github !important;
	}
}

.hover\:btn-gitlab {
	&:hover {
	  color: $social-gitlab !important;
	}
}
