@media screen and (max-width: 991px){
}

@media screen and (min-width: 992px){
}

@media screen and (min-width: 768px){
}

@media screen and (max-width: 767px){
	.portfolio {
		margin: 0.8rem;

		.content {
			.portfolio-item {
				.item-info{
					top:60%;
					padding: $padding-small-vertical $padding-small-horizontal;
				}

				&:hover {
					.item-info{
						top: 0;
					}
				}

				h4, p {
					font-size: $font-size-h3;
					margin: 0;
					padding-bottom: $padding-small-horizontal;
				}
			}

			.portfolio-items {
				.portfolio-item {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 576px){
	.header {
		.img-hero {
			top: 30%
		}

	}
}

@media screen and (min-width: 991px) and (max-width: 1200px){
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 517px) {
    .alert .alert-icon{
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
}

// Ipad responsive portrait mode
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and ( orientation : portrait){
}

@media screen and (max-width: 580px) {
    .alert{
        button.close{
            position: absolute;
            right: 11px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media only screen and (min-height: 950px) {
}
