.clear-filter{
    &:after,
    &:before{
        display: none;
    }

    &[filter-color="red"]{
        @include linear-gradient(rgba(0, 0, 0, .20), rgba(224, 23, 3, 0.6));
    }

    &[filter-color="blue"]{
        @include linear-gradient(rgba(0, 0, 0, .20), rgba(17, 138, 178, .6));
    }
    &[filter-color="green"]{
        @include linear-gradient(rgba(0, 0, 0, .20), rgba(5, 114, 19, 0.6));
    }

    &[filter-color="black"]{
        @include linear-gradient(rgba(33, 40, 55, .3), rgba(33, 40, 55, .6));
    }
}

.header {

	.page-header-absolute {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		height: 100%;
		width: 100%;
	}

	.words-wrapper {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 2px;
			background-color: $white-bg;
		}
	}

	.text-ballon {
		position: relative;
		width: max-content;
		background-color: $primary-color;
		color: $white-color;
		font-size: $font-paragraph;
		padding: $padding-simple-vertical calc(2 * $padding-simple-horizontal);
		margin-bottom: $margin-large-vertical;

		&::after {
			content: '';
			position: absolute;
			height: 23px;
			width: 26px;
			background-color: $primary-color;
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			bottom: -10px;
		}
	}

	.img-hero {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

}

.my-service {
	margin-bottom: -1px;
	.service-polygon {
		height: 95px;
		top: -94px;
	}
}

.work-education {
	position: relative;

	.work-education-wrapper {
		time {
			padding: $padding-small-vertical $padding-small-horizontal;
			font-size: $font-size-mini;
		}

		p {
			font-size: $font-size-navbar;
		}
	}
}

.contact {
	.icon-xl {
		position: absolute;
		top: 0;
		right: -20%;
		left: auto;
		opacity: 0.8;
		font-size: 35rem;
	}
}

.portfolio {
	margin: 6rem;

	.content {
		width: 100%;
		max-width: 800px;

		.portfolio-item{
			position: relative;
			width: 100%;
			aspect-ratio: 16 / 12;
			background-size: cover;
			overflow: hidden;

			.item-info{
				position: absolute;
				top: 65%;
				width: 100%;
				height: 100%;
				padding: $padding-large-vertical $padding-large-horizontal;
				color: $white-color;
				z-index: 5;
				transition: top $transition-bezier $slow-transition-time;

				h4, p {
					text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
				}

				p {
					font-size: $font-size-large;
					padding-bottom: $padding-base-horizontal;
				}

			}

			&:hover {
				.item-info{
					top: 0;
					background-color: $primary-color-alert;
				}

			}

			&::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				background-color: $light-black;
				z-index: 2;
			}
		}

		.portfolio-items {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.portfolio-item {
				width: 45%;

				.item-info{
					top:60%;
					padding: $padding-small-vertical $padding-small-horizontal;

				}

				&:hover {
					.item-info{
						top: 0;
					}
				}

				h4, p {
					margin: 0;
					padding-bottom: $padding-small-horizontal;
				}
			}
		}

	}

}

.badge {
	display: flex;
	flex-wrap: wrap;
}

.work {
	width: 100%;
	max-width: 800px;
	padding: $padding-small-vertical $padding-small-horizontal;

	.work-solution {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -25px;
			left: 0;
			background-color: $default-color;
		}
	}
}
