<template>
	<section class="contact pb-20 bg-gray-600 -mt-px overflow-hidden">
		<div class="container mx-auto pb-64">
			<div class="flex flex-wrap justify-center">
				<div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
					<div class="flex items-center">
						<div class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
							<i class="fas fa-address-card text-xl"></i>
						</div>
						<div>
							<h6 class="ml-4 text-white">
								Contact
							</h6>
							<h3 class="text-3xl ml-4 mb-6 font-semibold leading-normal text-purple-400">
								Contact Me
							</h3>
						</div>
					</div>
					<p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-400">
						Esses são os meus contatos
					</p>
					<div class="flex items-center">
						<div class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-white">
							<i class="fas fa-phone text-xl"></i>
						</div>
						<div class="ml-4 mb-6">
							<a href="tel:+5548988360053" class="text-lg font-light leading-relaxed mt-0 text-gray-200 hover:text-white active:text-purple-300">
								(48) 9 8836-0053
							</a>
						</div>
					</div>
					<div class="flex items-center">
						<div class="text-gray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-white">
							<i class="fas fa-at text-xl"></i>
						</div>
						<div class="ml-4 mb-6">
							<a href="mailto:ricardschmidt@gmail.com" class="text-lg font-light leading-relaxed mt-0 text-gray-200 hover:text-white active:text-purple-300">
								ricardschmidt@gmail.com
							</a>
						</div>
					</div>
					<a href="https://github.com/creativetimofficial/vue-notus?ref=vn-index" target="_blank" class="btn-whatsapp mt-4 inline-block text-white font-bold px-4 py-2 rounded outline-none uppercase text-sm shadow hover:text-gray-200 ease-linear transition-all duration-150">
						<i class="fab fa-whatsapp"></i>
						Whatsapp
					</a>
				</div>
				<div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative">
					<i class="fas fa-paper-plane text-gray-700 icon-xl"></i>
				</div>
			</div>
		</div>
    </section>
</template>
<script>
	export default {
		name: "r-my-serive",
		data() {
			return {
			}
		},
	}
</script>
