<template>
	<section class="header relative pt-16 items-center flex h-screen max-h-860-px bg-gray-600">
		<div class="page-header-absolute clear-filter" filter-color="black"></div>
		<div class="container mx-auto items-center flex flex-wrap">
			<div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4 z-10">
				<div class="pt-32 sm:pt-0">
					<h2 class="text-ballon">
						Welcome to my website.
					</h2>
					<h1 class="mt-4 text-3xl md:text-6xl font-semibold leading-relaxed text-white">
						I'm
						<span class="words-wrapper">
							{{typeWriter.text}}
						</span>
					</h1>
					<div class="mt-12">
						<a href="https://ras-upload.s3.amazonaws.com/portfolio/Curriculo.pdf" target="_blank" class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-purple-500 hover:bg-purple-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
							Download CV
						</a>
						<a href="#works" class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
							My work
						</a>
					</div>
				</div>
			</div>
		</div>
		<img
			class="img-hero"
			src="https://ras-upload.s3.amazonaws.com/portfolio/images/img-hero.jpg"
			alt="..."
		/>
		<div class="-mb-20 top-auto bottom-0 left-0 right-0 w-full absolute h-20" style="transform: rotate(180deg);">
			<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
				version="1.1" viewBox="0 0 2560 100" x="0" y="0" >
				<polygon class="text-gray-700 fill-current" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
    </section>
</template>
<script>
	export default {
		name: "r-hero",
		data() {
			return {
				typeWriter: {
					texts: ['Ricardo Schmidt', 'Developer'],
					text: '',
					isDeleting: false,
					index: 0
				},
			}
		},
		created() {
			this.writing(this.typeWriter.texts[this.typeWriter.index].length);
		},
		methods: {
			writing(i) {
				let delay = 200 - Math.random() * 100;
				setTimeout(() => {
					this.textWriter(this.typeWriter.isDeleting, this.typeWriter.texts[this.typeWriter.index])
					if(--i) {
						this.writing(i)
					} else {
						this.typeWriter.isDeleting = !this.typeWriter.isDeleting
						if(!this.typeWriter.isDeleting)
						this.typeWriter.index = this.modulo(this.typeWriter.index, this.typeWriter.texts.length)
						this.writing(this.typeWriter.texts[0].length)
					}
				}, delay)
			},

			textWriter(isDeleting, word) {
				if(isDeleting) {
					this.typeWriter.text = this.typeWriter.text.substring(0, this.typeWriter.text.length - 1)
				} else {
					let newText = word
					this.typeWriter.text = newText.substring(0, this.typeWriter.text.length + 1)
				}
			},

			modulo(index, length) {
				let result = ++index % length;
				if (result < 0)  result += length;
				return result;
			}
		},

	}
</script>
