<template>
	<section class="my-service mt-48 md:mt-40 pb-40 relative bg-gray-600">
		<div class="-mt-20 top-px bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0);">
			<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
				version="1.1" viewBox="0 0 2560 100" x="0" y="0" >
				<polygon class="text-gray-600 fill-current" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
		<div class="container mx-auto">
			<div class="flex flex-wrap items-center">
				<div class="w-10/12 md:w-6/12 lg:w-4/12 md:px-12 md:px-4 mr-auto ml-auto -mt-32">
					<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-purple-600" >
						<img alt="..." src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" class="w-full align-middle rounded-t-lg"/>
						<blockquote class="relative p-8 mb-4">
							<svg
								preserveAspectRatio="none"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 583 95"
								class="absolute left-0 w-full block service-polygon"
								>
								<polygon points="-30,95 583,95 583,65" class="text-purple-600 fill-current"></polygon>
							</svg>
							<h4 class="h4-seo font-bold text-white">
								My Services
							</h4>
							<p class="font-light mt-2 text-white">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti harum dolores dignissimos,
								sunt eos placeat, incidunt impedit facilis rem tempore atque quod perspiciatis ut assumenda libero hic nesciunt et? Rem?
							</p>
						</blockquote>
					</div>
				</div>
				<div class="w-full md:w-6/12 px-4">
					<div class="flex flex-wrap">
						<div class="w-full md:w-6/12 px-4">
							<div class="relative flex flex-col mt-4">
								<div class="px-4 py-5 flex-auto">
									<div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
										<i class="fas fa-code"></i>
									</div>
									<h5 class="text-white text-xl mb-1 font-semibold">
										Web Development
									</h5>
									<p class="mb-4 text-gray-400">
										Web development in Vue.js with components, services and stores.
									</p>
								</div>
							</div>
							<div class="relative flex flex-col min-w-0">
								<div class="px-4 py-5 flex-auto">
									<div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
										<i class="fas fa-terminal"></i>
									</div>
									<h5 class="text-white text-xl mb-1 font-semibold">
										APIRest
									</h5>
									<p class="mb-4 text-gray-400">
										Knowledge in API development in JAVA and Node.js
									</p>
								</div>
							</div>
						</div>
						<div class="w-full md:w-6/12 px-4">
							<div class="relative flex flex-col min-w-0 mt-4">
							<div class="px-4 py-5 flex-auto">
								<div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
									<i class="fas fa-triangle-exclamation"></i>
								</div>
								<h5 class="text-white text-xl mb-1 font-semibold">Problem Solving</h5>
								<p class="mb-4 text-gray-400">

								</p>
							</div>
							</div>
							<div class="relative flex flex-col min-w-0">
							<div class="px-4 py-5 flex-auto">
								<div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
									<i class="fas fa-globe"></i>
								</div>
								<h5 class="text-white text-xl mb-1 font-semibold">
									Web Scraping
								</h5>
								<p class="mb-4 text-gray-400">
									One year working with web scraping in Java, for realty service.
								</p>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
</template>
<script>
	export default {
		name: "r-my-serive",
		data() {
			return {
			}
		},
	}
</script>
