<template>
	<section id="works" class="bg-gray-200">
		<div class="px-2 md:px-16 pt-24 pb-40 flex justify-between flex-wrap">
			<div class="w-full md:w-6/12 px-12 md:px-4">
				<h6 class="">Portfolio</h6>
				<h2 class="text-purple-600 font-semibold text-4xl uppercase">Latest Work</h2>
				<p class="text-lg leading-relaxed mt-4 mb-4 text-gray-600">
					Here you can see some of my latest work and specs about them.
				</p>
			</div>
			<div class="w-full md:w-6/12 px-12 md:px-4 flex justify-center md:justify-end items-center">
				<router-link to="/works" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
					Explore More
				</router-link>
			</div>
		</div>
		<article class="block relative z-1 bg-gray-600 pb-10">
			<div class="container mx-auto">
				<div class="justify-center flex flex-wrap">
					<div class="w-full lg:w-12/12 px-4 -mt-24">
						<div class="flex flex-wrap">
							<div class="w-full lg:w-4/12 px-4 pb-10 md:py-0">
								<h5 class="text-purple-600 text-xl font-semibold pb-4 text-center">
									Cinemate
								</h5>
								<router-link to="/works/cinemate">
								<div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
									<img
									alt="Site Cinemate em Vue 3"
									class="align-middle border-none max-w-full h-auto rounded-lg"
									src="https://ras-upload.s3.amazonaws.com/portfolio/images/cinemate.png"
									/>
								</div>
								<div class="flex justify-center">
									<span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Vue3</span>
									<span class="bg-slate-100 text-slate-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Vuex</span>
									<span class="bg-sky-100 text-sky-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Tailwind</span>
									<span class="bg-purple-100 text-purple-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">Axios</span>
								</div>
								</router-link>
							</div>
							<div class="w-full lg:w-4/12 px-4 pb-10 md:py-0">
								<h5 class="text-purple-200 md:text-purple-600 text-xl font-semibold pb-4 text-center">
									Kart do Barbeiro
								</h5>
								<router-link to="/works/kartdobarbeiro">
								<div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
									<img
									alt="Site kartdobarbeiro.com.br em Vue 2"
									class="align-middle border-none max-w-full h-auto rounded-lg"
									src="https://ras-upload.s3.amazonaws.com/portfolio/images/kartdobarbeiro.png"
									/>
								</div>
								<div class="flex justify-center flex-wrap">
									<span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Vue2</span>
									<span class="bg-slate-100 text-slate-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Vuex</span>
									<span class="bg-sky-100 text-sky-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Creative Tim Template</span>
									<span class="bg-fuchsia-100 text-fuchsia-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Axios</span>
									<span class="bg-orange-100 text-orange-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Node API</span>
									<span class="bg-rose-100 text-rose-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">MongoDB</span>
								</div>
								</router-link>
							</div>
							<div class="w-full lg:w-4/12 px-4 pb-10 md:py-0">
								<h5 class="text-purple-200 md:text-purple-600 text-xl font-semibold pb-4 text-center">
									Climatech
								</h5>
								<router-link to="/works/climatech">
								<div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150">
									<img
									alt="Site da Climatech em Vue 2"
									class="align-middle border-none max-w-full h-auto rounded-lg"
									src="https://ras-upload.s3.amazonaws.com/portfolio/images/climatech.png"
									/>
								</div>
								<div class="flex justify-center flex-wrap">
									<span class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Vue2</span>
									<span class="bg-sky-100 text-sky-800 text-xs font-semibold mr-2 px-2.5 py-0.5 mb-2 rounded">Creative Tim Template</span>
								</div>
								</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</template>
<script>
	export default {
		name: "r-my-serive",
		data() {
			return {
			}
		},
	}
</script>
