<template>
	<section class="mt-48 md:mt-40 pb-40 relative bg-gray-100">
		<div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0);">
			<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
				version="1.1" viewBox="0 0 2560 100" x="0" y="0" >
				<polygon class="text-gray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
		<div class="container mx-auto">
			<div class="">
				<h2 class="h2-seo text-center">My Skills</h2>
				<div class="flex flex-wrap items-center justify-around flex-wrap">
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">Java</span>
							<span class="text-base font-medium text-purple-600">70%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 70%"></div>
						</div>
					</div>
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">JavaScript</span>
							<span class="text-base font-medium text-purple-600">50%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 50%"></div>
						</div>
					</div>
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">HTML5</span>
							<span class="text-base font-medium text-purple-600">75%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 75%"></div>
						</div>
					</div>
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">CSS3</span>
							<span class="text-base font-medium text-purple-600">60%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 60%"></div>
						</div>
					</div>
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">Node.js</span>
							<span class="text-base font-medium text-purple-600">50%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 50%"></div>
						</div>
					</div>
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">Vue.js</span>
							<span class="text-base font-medium text-purple-600">50%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 50%"></div>
						</div>
					</div>
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">Adobe XD</span>
							<span class="text-base font-medium text-purple-600">90%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 90%"></div>
						</div>
					</div>
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">Git</span>
							<span class="text-base font-medium text-purple-600">70%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 70%"></div>
						</div>
					</div>
					<div class="progress-content w-full md:w-1/3 m-4 ">
						<div class="flex justify-between mb-1">
							<span class="text-base font-medium text-purple-600">Metodologia Agil</span>
							<span class="text-base font-medium text-purple-600">40%</span>
						</div>
						<div class="w-full bg-gray-300 rounded-full">
							<div class="bg-purple-600 h-1.5 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 40%"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="-mb-20 top-auto bottom-0 left-0 right-0 w-full absolute h-20" style="transform: rotate(180deg);">
			<svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
				version="1.1" viewBox="0 0 2560 100" x="0" y="0" >
				<polygon class="text-gray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
    </section>
</template>
<script>
	export default {
		name: "r-skills",
		data() {
			return {
			}
		},
	}
</script>
