<template>
	<section class="work-education pb-40 relative bg-gray-600">
		<div class="container mx-auto">
			<div class="flex flex-wrap items-center">
				<div class="w-full px-4">
					<h2 class="h2-seo text-white text-center">Work<span class="text-purple-600">&</span>Education</h2>
					<div class="flex flex-wrap">
						<div class="w-full md:w-6/12 px-4">
							<ol class="relative border-l border-gray-200 dark:border-gray-700">
								<li class="work-education-wrapper mb-10 ml-6 ">
									<span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-purple-200 rounded-full ring-8 ring-gray-700">
										<i class="fas fa-briefcase text-purple-600 text-sm"></i>
									</span>
									<h5 class="text-white mb-1">
										Independente
									</h5>
									<time class="mb-2 text-sm font-normal leading-none bg-purple-600 text-white ">2022 -</time>
									<p class="mb-4 mt-2 text-base font-normal text-gray-400">
										Desenvolvendo projetos próprios com o intuito de aprendizado e atualização.
										Focando principalmente em Node.js e Vue.js
									</p>
								</li>
								<li class="work-education-wrapper mb-10 ml-6">
									<span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-purple-200 rounded-full ring-8 ring-gray-700">
										<i class="fas fa-graduation-cap text-purple-600 text-sm"></i>
									</span>
									<h5 class="text-white mb-1">
										Badcat E-commerce
									</h5>
									<time class="mb-2 text-sm font-normal leading-none bg-purple-600 text-white">2020 - 2021</time>
									<p class="mb-4 mt-2 text-base font-normal text-gray-400">
										Sócio da empresa com o objetivo de alavancar as vendas,
										atuando muito na área de melhorias no front-end,
										experiência do usuário, marketing e gerenciamento.
									</p>
								</li>
								<li class="work-education-wrapper mb-10 ml-6">
									<span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-purple-200 rounded-full ring-8 ring-gray-700">
										<i class="fas fa-graduation-cap text-purple-600 text-sm"></i>
									</span>
									<h5 class="text-white mb-1">
										Projeta Brasil
									</h5>
									<time class="mb-2 text-sm font-normal leading-none bg-purple-600 text-white">2018 - 2020</time>
									<p class="mb-4 mt-2 text-base font-normal text-gray-400">
										Iniciando como estagiário, criando automação
										de serviços imobiliários e principalmente
										realizando Web Scraping com Java e Selenium
										WebDriver. Efetivado em 2019, passei a participar
										da parte de gestão do projeto adotando alguns
										conceitos de desenvolvimento ágil, implementando
										Kanban e daily scrums para a equipe. Fui
										mantenedor da qualidade do produto, fazendo-o
										através de code reviews, utilizando Git para
										controlar e versionar o código.
									</p>
								</li>
							</ol>
						</div>
						<div class="w-full md:w-6/12 px-4 mt-10">
							<ol class="relative border-l border-gray-200 dark:border-gray-700">
								<li class="work-education-wrapper mb-10 ml-6 ">
									<span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-purple-200 rounded-full ring-8 ring-gray-700">
										<i class="fas fa-graduation-cap text-purple-600 text-sm"></i>
									</span>
									<h5 class="text-white mb-1">
										Análise e Desenvolvimento de Sistemas
									</h5>
									<time class="mb-2 text-sm font-normal leading-none bg-purple-600 text-white ">2017 - 2020</time>
									<p class="mb-4 mt-2 text-base font-normal text-gray-400">
										Curso de análise e desenvolvimento de sistemas pelo SENAC.
										Foco dos estudos na linguagem JAVA.
									</p>
								</li>
								<li class="work-education-wrapper mb-10 ml-6">
									<span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-purple-200 rounded-full ring-8 ring-gray-700">
										<i class="fas fa-graduation-cap text-purple-600 text-sm"></i>
									</span>
									<h5 class="text-white mb-1">
										Curso em Vídeo HTML5
									</h5>
									<time class="mb-2 text-sm font-normal leading-none bg-purple-600 text-white">2018</time>
									<p class="mb-4 mt-2 text-base font-normal text-gray-400">
										Curso básico de HTML5 e CSS3.
									</p>
								</li>
								<li class="work-education-wrapper mb-10 ml-6">
									<span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-purple-200 rounded-full ring-8 ring-gray-700">
										<i class="fas fa-graduation-cap text-purple-600 text-sm"></i>
									</span>
									<h5 class="text-white mb-1">
										Curso em Vídeo Python
									</h5>
									<time class="mb-2 text-sm font-normal leading-none bg-purple-600 text-white">2017</time>
									<p class="mb-4 mt-2 text-base font-normal text-gray-400">
										Curso de fundamentos em Python.
										</p>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
</template>
<script>
	export default {
		name: "r-my-serive",
		data() {
			return {
			}
		},
	}
</script>
