<template>
	<footer class="relative bg-gray-200 pt-8 pb-6">
		<div class="bottom-auto top-1 left-0 right-0 w-full absolute overflow-hidden -mt-20 h-20" style="transform: translateZ(0);">
			<svg
				class="absolute bottom-0 overflow-hidden"
				xmlns="http://www.w3.org/2000/svg"
				preserveAspectRatio="none"
				version="1.1"
				viewBox="0 0 2560 100"
				x="0"
				y="0"
				>
				<polygon class="text-gray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
		<div class="container mx-auto px-4">
			<div class="flex flex-wrap text-center lg:text-left">
				<div class="w-full lg:w-6/12 px-4">
					<h4 class="text-3xl font-semibold">Let's keep in touch!</h4>
					<h5 class="text-lg mt-0 mb-2 text-gray-600">
						Thanks for the visit.
					</h5>
					<div class="mt-6 lg:mb-0 mb-6">
						<a href="https://www.instagram.com/ricardoschmidt/" target="_blank" class="btn-instagram bg-white shadow-lg font-normal inline-flex h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="https://www.linkedin.com/in/ricardschmidt/" target="_blank" class="btn-linkedin bg-white shadow-lg font-normal inline-flex h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2">
							<i class="fab fa-linkedin"></i>
						</a>
						<a href="https://github.com/ricardschmidt" target="_blank" class="btn-github bg-white shadow-lg font-normal inline-flex h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2">
							<i class="fab fa-github"></i>
						</a>
						<a href="https://gitlab.com/ricardschmidt" target="_blank" class="btn-gitlab bg-white shadow-lg font-normal inline-flex h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2">
							<i class="fab fa-gitlab"></i>
						</a>
					</div>
				</div>
				<div class="w-full lg:w-6/12 px-4">
					<div class="flex flex-wrap items-top mb-6">
						<div class="w-full lg:w-4/12 px-4 ml-auto">
							<span class="block uppercase text-gray-500 text-sm font-semibold mb-2">
								Useful Links
							</span>
							<ul class="list-unstyled">
								<li>
									<router-link to="/about-me" class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm">
										About Me
									</router-link>
								</li>
								<li>
									<a href="https://gitlab.com/ricardschmidt" target="_blank" class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm">
										GitLab
									</a>
								</li>
								<li>
									<a href="https://github.com/ricardschmidt" target="_blank" class="text-gray-600 hover:text-gray-800 font-semibold block pb-2 text-sm">
										Github
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<hr class="my-6 border-gray-300" />
			<div class="flex flex-wrap items-center md:justify-between justify-center" >
				<div class="w-full md:w-4/12 px-4 mx-auto text-center">
					<div class="text-sm font-semibold py-1">
						Copyright © {{ date }}
						<a href="https://gitlab.com/ricardschmidt" class="text-violet-800 hover:text-violet-900">
							Ricardo Schmidt
						</a>
						.
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>
<script>
export default {
  data() {
    return {
      date: new Date().getFullYear(),
    };
  },
};
</script>
