<template>
	<nav class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg shadow bg-gray-200"
		:class="classes">
		<div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
			<div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
				<router-link to="/" class="block mr-4">
					<img class="w-28" src="https://ras-upload.s3.amazonaws.com/portfolio/images/logos/logo1.svg" alt="Ricardo Schmidt">
				</router-link>
				<button
					class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
					type="button"
					@click="setNavbarOpen"
					>
					<i class="fas fa-bars hover:text-gray-700 text-gray-500"></i>
				</button>
			</div>
		<div
			class="lg:flex flex-grow items-center"
			:class="[navbarOpen ? 'block' : 'hidden']"
			id="example-navbar-warning"
		>
			<ul class="flex flex-col lg:flex-row list-none mr-auto">
				<li class="flex items-center">
					<router-link to="/" class="hover:text-gray-700 text-gray-500 px-3 py-2 flex items-center text-xs uppercase font-bold">
						Home
					</router-link>
					<router-link to="/about-me" class="hover:text-gray-700 text-gray-500 px-3 py-2 flex items-center text-xs uppercase font-bold">
						About me
					</router-link>
					<router-link to="/works" class="hover:text-gray-700 text-gray-500 px-3 py-2 flex items-center text-xs uppercase font-bold">
						Works
					</router-link>
				</li>
			</ul>
			<ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
				<li class="flex items-center">
					<a
					class="hover:btn-linkedin text-gray-400 px-3 py-2 flex items-center text-xs uppercase font-bold"
					href="https://www.linkedin.com/in/ricardschmidt/"
					target="_blank"
					>
						<i class="fab fa-linkedin text-lg leading-lg" />
						<span class="lg:hidden inline-block ml-2">Linkedin</span>
					</a>
				</li>

				<li class="flex items-center">
					<a class="hover:btn-github text-gray-400 px-3 py-2 flex items-center text-xs uppercase font-bold"
					href="https://github.com/ricardschmidt"
					target="_blank"
					>
						<i class="fab fa-github text-lg leading-lg" />
						<span class="lg:hidden inline-block ml-2">Github</span>
					</a>
				</li>
				<li class="flex items-center">
					<a
					class="hover:btn-gitlab text-gray-400 px-3 py-2 flex items-center text-xs uppercase font-bold"
					href="https://gitlab.com/ricardschmidt"
					target="_blank"
					>
						<i class="fab fa-gitlab text-lg leading-lg" />
						<span class="lg:hidden inline-block ml-2">Gitlab</span>
					</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>
</template>

<script>
let resizeTimeout;
function resizeThrottler(actualResizeHandler) {
  // ignore resize events as long as an actualResizeHandler execution is in the queue
  if (!resizeTimeout) {
    resizeTimeout = setTimeout(() => {
      resizeTimeout = null;
      actualResizeHandler();

      // The actualResizeHandler will execute at a rate of 15fps
    }, 66);
  }
}

export default {
	data() {
		return {
			navbarOpen: false,
			currentScrollValue: 0,
		};
	},
	props: {
		transparent: {
			type: Boolean,
			default: false
		},
		colorOnScroll: {
			type: Number,
			default: 0
		},
	},
	computed: {
		classes() {
			let color = `bg-gray-200`;
			let colorOnScrollTransparent = this.colorOnScroll && this.currentScrollValue < this.colorOnScroll;

			return [
				{ 'nav-transparent': (this.transparent || colorOnScrollTransparent) && !this.navbarOpen },
				{ [color]: !this.transparent && this.colorOnScroll === 0 },
			];
		}
	},
	methods: {
		setNavbarOpen: function () {
		this.navbarOpen = !this.navbarOpen;
		},
		handleScroll() {
			let scrollValue =
				document.body.scrollTop || document.documentElement.scrollTop;
			this.currentScrollValue = scrollValue;
			if (this.colorOnScroll > 0 && scrollValue > this.colorOnScroll) {
				this.extraNavClasses = `bg-${this.type}`;
			} else {
				if (this.extraNavClasses) {
				this.extraNavClasses = '';
				}
			}
		},
		scrollListener() {
			resizeThrottler(this.handleScroll);
		}
	},
	mounted() {
		document.addEventListener('scroll', this.scrollListener);
	},
	beforeUnmount() {
		document.removeEventListener('scroll', this.scrollListener);
	},
};
</script>
